<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>厦门大学科研数据共享平台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="../static/css/api_detail.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>

<body>
<div>
    <!--上方信息-->
    <div style="line-height: 32px">
        <!--图片-->
        <div class="api_img_part">
            <img src="../images/twitter.jpg">
        </div>
        <!--简介-->
        <div style="float: left;margin:25px 50px 25px 20px">
            <div>
                <p style="float: left;font-size: 20px;font-weight: bold;margin-right:4px">新浪微博</p>
                <span class="layui-badge" style="margin:2px 7px;">自营</span>
                <span class="layui-badge layui-bg-orange">API</span>
            </div>
            <div style="font-size: 12px;">
                <p>简介：</p>
                <p>标签：</p>
                <p>上架时间：</p>
                <p>类型：</p>
            </div>
            <div>
                <button type="button" class="layui-btn layui-btn-normal" style="margin:5px 15px 0 0;width:110px;">立即添加</button>
                <button type="button" class="layui-btn layui-btn-normal" style="width:110px;">使用教程</button>
            </div>
        </div>
        <div style="float: left;margin:120px 50px 0 100px">
            <div>
                <div style="float: left;text-align:center;height:42px;width:180px;line-height:42px;font-size: 13px;background-color: #dadada;color:#6f6c6c;">
                    总调用次数(每小时更新)
                </div>
                <div style="float: left;text-align:center;height:40px;width:180px;line-height:40px;border: #c5c5c5 1px solid;font-size: 25px;color: #7dcdff">
                    124,568,850
                </div>
            </div>
        </div>
    </div>
    <!--下方信息-->
    <div style="clear: both">
        <!--选项卡-->
        <div class="layui-tab layui-tab-card" style="margin:5px;padding:0 20px">
            <ul class="layui-tab-title">
                <li class="layui-this">API详情</li>
                <li class="layui-this">详情介绍</li>
                <li class="layui-this">状态码参考</li>
            </ul>
            <div class="layui-tab-content">
                <!--API详情-->
                <div class="layui-tab-item layui-show " style="padding:20px">
                    <div class="layui-row layui-col-space15">
                        <!--接口服务-->
                        <div class="layui-card">
                            <div class="layui-card-header">接口服务</div>
                            <div class="layui-card-body">
                                接口延迟等级： 低（1~3秒内）
                                <br>平台反爬等级： 中（1个月更改1次）
                                <br>平台升级频率： 中（1个月升级1次）
                            </div>
                        </div>
                        <!--数据指标-->
                        <div class="layui-card">
                            <div class="layui-card-header">数据指标</div>
                            <div class="layui-card-body">
                                最大数据量： 1、「用户uid」组合可返回所有能返回的数据，部分用户有限制；<br>
                                2、「关键词kw搜索」最多返回1500 <br>
                                最大页数： 最大数据量/每页数据量<br>
                                每页数据量： 50 <br>
                                数据实时性： 实时<br>
                                数据回溯性： 全部 <br>
                                数据排序项： 平台默认<br>
                                缺失的数据字段： 暂无 <br>
                                备注： 1、「关键词kw搜索」组合，平台有返回限制，最大返回数据量1500，也可能更少，以实际为准
                            </div>
                        </div>
                        <!--API区域-->
                        <div class="layui-card">
                            <div class="layui-card-header">API区域</div>
                            <div class="layui-card-body">
                                深圳 香港
                            </div>
                        </div>
                        <!--接口标识-->
                        <div class="layui-card">
                            <div class="layui-card-header">接口标识</div>
                            <div class="layui-card-body">
                                请求方式 : HTTP HTTPS GET<br>
                                请求示例 :
                                http://api02.idataapi.cn:8000/post/weibo?apikey=您的APIKEY&kw=%E5%8C%97%E4%BA%AC<br>
                                API 调用 : 查看您自己的API KEY(即API调用凭证)
                            </div>
                        </div>

                        <!--请求参数-->
                        <div class="layui-card">
                            <div class="layui-card-header">请求参数</div>
                            <div class="layui-card-body">
                                <table class="layui-table" lay-skin="line">
                                    <colgroup>
                                        <col width="150">
                                        <col width="80">
                                        <col width="50">
                                        <col width="150">
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>参数名</th>
                                        <th>类型</th>
                                        <th>必填</th>
                                        <th>示例值</th>
                                        <th>描述</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>uid</td>
                                        <td>string</td>
                                        <td>是</td>
                                        <td>2803301701</td>
                                        <td>用户id</td>
                                    </tr>

                                    <tr>
                                        <td>pageToken</td>
                                        <td>string</td>
                                        <td>否</td>
                                        <td>1</td>
                                        <td>翻页值，从API返回结果可以拿到</td>
                                    </tr>
                                    <tr>
                                        <td>date</td>
                                        <td>string</td>
                                        <td>否</td>
                                        <td></td>
                                        <td>如：201901表示2019年01月</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--返回参数-->
                        <div class="layui-card">
                            <div class="layui-card-header">返回参数</div>
                            <div class="layui-card-body">

                                <table class="layui-table" lay-skin="line">
                                    <colgroup>
                                        <col width="150">
                                        <col width="80">
                                        <col width="200">
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>参数名</th>
                                        <th>类型</th>
                                        <th>示例值</th>
                                        <th>描述</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                        <td>viewCount</td>
                                        <td>string</td>
                                        <td>null</td>
                                        <td>浏览数／该接口无</td>
                                    </tr>

                                    <tr>
                                        <td>from</td>
                                        <td>object</td>
                                        <td>{...}</td>
                                        <td>该微博发布者信息</td>
                                    </tr>
                                    <tr>
                                        <td>mblog</td>
                                        <td>object</td>
                                        <td>{...}</td>
                                        <td> 微博信息字段</td>
                                    </tr>
                                    <tr>
                                        <td>title</td>
                                        <td>string</td>
                                        <td>null</td>
                                        <td>文章标题</td>
                                    </tr>
                                    <tr>
                                        <td>pDate</td>
                                        <td>string</td>
                                        <td>2017-05-22 14:38:14</td>
                                        <td>发布时间／北京时间</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--返回示例值-->
                        <div class="layui-card">
                            <div class="layui-card-header">返回示例值</div>
                            <div class="layui-card-body" style="height:350px;overflow-y: scroll">
                                <pre>
{
    "viewCount": null,
    "from": {
    "extend": {
    "bi_followers_count": 2163,
    "domain": "happyzhangjiang",
    "avatar_large":
    "https:\/\/tva3.sinaimg.cn\/crop.2.0.176.176.180\/a180de74jw1ev38avqrrtj2052052t96.jpg",
    "id": 2709577332,
    "city": "1000",
    "verified": true,
    "verified_reason": "知名搞笑幽默博主",
    "followers_count": 9733096,
    "location": "上海",
    "profile_url": "happyzhangjiang",
    "province": "31",
    "avatar_hd":
    "https:\/\/tva3.sinaimg.cn\/crop.2.0.176.176.1024\/a180de74jw1ev38avqrrtj2052052t96.jpg",
    "statuses_count": 41337,
    "description": "每日搜集整理发布各类新鲜资讯，欢迎私信",
    "friends_count": 2286,
    "idstr": "2709577332",
    "allow_all_act_msg": true,
    "allow_all_comment": true,
    "geo_enabled": false,
    "name": "Happy张江",
    "lang": "zh-cn",
    "favourites_count": 5606,
    "screen_name": "Happy张江",
    "url": "http:\/\/blog.sina.com.cn\/happyzhangjiang",
    "gender": "f",
    "created_at": "Tue Feb 07 09:56:31 +0800 2012"
    },
    "name": "Happy张江",
    "friendCount": 2286,
    "url": "http:\/\/weibo.com\/2709577332\/F4hJSwLEc",
    "fansCount": 9733096,
    "likeCount": 13,
    "postCount": 41337,
    "id": "2709577332",
    "description": "每日搜集整理发布各类新鲜资讯，欢迎私信"
    },
    "mblog": {
    "reposts_count": 84,
    "retweeted_status": {
    "reposts_count": 242,
    "mblogid": "F4huN2DCH",
    "url": "http:\/\/weibo.com\/5558366461\/F4huN2DCH",
    "text": "中国留学生毕业演讲：美国的空气都是新鲜而甜美的！[并不简单]昨天美国马里兰大学举行毕业典礼，中国留学生代表Shuping
    Yang演讲，但是姑娘说：中国空气肮脏不堪，美国的却是如此香甜（Excuse me？！）[费解]http:\/\/t.cn\/RadtoeY ​​​",
    "created_at": "Mon May 22 14:01:03 +0800 2017",
    "idstr": "4110205690628971",
    "mid": "4110205690628971",
    "attitudes_count": 23,
    "comments_count": 244,
    "user": {
    "bi_followers_count": 3,
    "domain": "",
    "avatar_large":
    "https:\/\/tva4.sinaimg.cn\/crop.1.4.224.224.180\/0064al1Xgw1evhjk8e89zj306c06st96.jpg",
    "id": 5558366461,
    "city": "1000",
    "verified": false,
    "verified_reason": "",
    "followers_count": 1366127,
    "location": "北京",
    "profile_url": "u\/5558366461",
    "province": "11",
    "avatar_hd":
    "https:\/\/tva4.sinaimg.cn\/crop.1.4.224.224.1024\/0064al1Xgw1evhjk8e89zj306c06st96.jpg",
    "statuses_count": 2326,
    "description": "你开心就好",
    "friends_count": 16,
    "idstr": "5558366461",
    "allow_all_act_msg": false,
    "allow_all_comment": true,
    "geo_enabled": true,
    "name": "极品爆料王",
    "lang": "zh-cn",
    "favourites_count": 0,
    "screen_name": "极品爆料王",
    "url": "http:\/\/blog.sina.com",
    "gender": "m",
    "created_at": "Tue Mar 17 00:44:06 +0800 2015"
    },
    "id": 4110205690628971,
    "geo": null,
    "isLongText": false
    },
    "mblogid": "F4hJSwLEc",
    "text": "[拜拜]\/\/@要和太阳肩并肩的小霸王萝莉: 跪舔的嘴脸真丑……\/\/@努力奔跑的stone: 小姑娘祝你好运 \/\/@得瑟米:
    我靠[鄙视][吃惊][蜡烛]",
    "created_at": "Mon May 22 14:38:14 +0800 2017",
    "idstr": "4110215047809656",
    "mid": "4110215047809656",
    "attitudes_count": 13,
    "comments_count": 35,
    "id": 4110215047809656,
    "geo": null,
    "isLongText": false
    },
    "title": null,
    "url": "http:\/\/weibo.com\/2709577332\/F4hJSwLEc",
    "pDate": "2017-05-22 14:38:14",
    "likeCount": 13,
    "commentCount": 35,
    "shareCount": 84,
    "content": "[拜拜]\/\/@要和太阳肩并肩的小霸王萝莉: 跪舔的嘴脸真丑……\/\/@努力奔跑的stone: 小姑娘祝你好运 \/\/@得瑟米:
    我靠[鄙视][吃惊][蜡烛]",
    "imageURLs": null,
    "id": "4110215047809656",
    "videoURLs": null
}
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>

                <!--详情介绍-->
                <div class="layui-tab-item layui-show">
                    <!--数据详细介绍-->
                    <div class="layui-card">
                        <div class="layui-card-header">数据详细介绍</div>
                        <div class="layui-card-body">
                            微博指数
                        </div>
                    </div>
                </div>

                <!--状态码参考-->
                <div class="layui-tab-item layui-show">
                    <!--状态码表-->
                    <div class="layui-card">
                        <div class="layui-card-header">状态码表</div>
                        <div class="layui-card-body">
                            <table class="layui-table" lay-skin="line">
                                    <colgroup>
                                        <col width="80">
                                        <col width="200">
                                        <col width="150">
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>状态代码</th>
                                        <th>状态信息</th>
                                        <th>详细描述</th>
                                        <th>是否收费?</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                        <td>000000</td>
                                        <td>invoke successfully(data is not null)</td>
                                        <td>成功调用并返回数据</td>
                                        <td>是</td>
                                    </tr>
                                    <tr>

                                        <td>100002</td>
                                        <td>Search no result</td>
                                        <td>目标参数搜索没结果</td>
                                        <td>是</td>
                                    </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>