

.api_img_part {
    width: 250px;
    height: 250px;
    float: left;
    text-align: center;
    line-height: 250px;
    margin-left:20px;
}

.api_img_part img{
    width: 160px;
    height: 150px;

}

.layui-card-header{
    font-size:40px;
}